html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
}
h1 { 	
	color: #b48608; font-family: 'Droid serif', serif; 
	font-size: 36px; font-weight: 400; 
	font-style: italic; line-height: 44px; 
	margin: 30px 100px 30px; text-align: center; 
	
}

.h12 { 	
	color: #b48608; font-family: 'Droid serif', serif; 
	font-size: 36px; font-weight: 400; 
	font-style: italic; line-height: 44px; 
	margin: 0 630px 12px; text-align: center; 
	
}

p { 
	color: #eee; 
	font-family: 'Droid Sans', sans-serif; 
	font-size: 15px; 
	font-weight: 400; 
	line-height: 24px; margin: 0 0 14px; 
	text-align: justify;
}
nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #b48608;
	background-color: #000000;
}	
nav2{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #b48608;
	margin: -58px 0px 0px;
}
nav .onglets{
    margin-top: -3px;
    margin-left: 300px;
}
nav .onglets a{
    text-decoration: none;
    color: #b48608;
    margin-right: 10px;
    border-bottom: 1px solid #b48608;
    padding-bottom: 5px;
	font-size: 18px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('https://s1.1zoom.me/big3/170/Germany_Church_Rivers_Vineyard_Trier_Mosel_589163_3840x2160.jpg');
    background-size: 2000px 800px;
	background-repeat: no-repeat;
    color: #fff;
    padding: 330px;
}
header h1{
    font: italic 1.2em "Fira Sans", serif;
    font-size: 120px;
	position: relative;
    top: -10px; left: 40px;
    color: #b48608;

}
.right1 { float: right; margin: 260px 70px 30px 0px; width: 30%; }
.right2 { float: right; margin: 190px 70px 30px 0px; width: 30%; }
.right3 { float: right; margin: 185px 70px 30px 0px; width: 30%; }


.style-table {
    border-collapse: collapse;
    margin: 25px 50px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	background-color: #FFFFFF; 
}


.style-table thead tr {
    background-color: #b48608;
    color: #000000;
    text-align: left;
}



.style-table th,
.style-table td {
    padding: 12px 15px;
}


.style-table tbody tr {
    border-bottom: 1px solid #b48608;
}

.style-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.style-table tbody tr:last-of-type {
    border-bottom: 2px solid #b48608;
}



.style-table tbody tr.active-row {
    font-weight: bold;
    color: #b48608;
}

.button {
  background-color: #b48608;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  font-family: 'Droid serif', serif; 
  font-style: italic;
  margin: 40px 0px 40px 780px;
}
.button:hover {
    background-color: #f3f3f3;
}

.button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
footer{
    margin-top: 40px;
    border-top: 5px solid #b48608;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 30px 100px;
}
footer h1{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid #b48608;
    width: 20%;
	text-align: justify;
    
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
	margin: 0px 0px 0px 590px;
}
footer .services .service{
    margin-right: 300px;
}
footer .services .service p{
    max-width: 200px;
}

    footer{
        padding: 30px;
    }
