
body {
	 background-image: url("images/body.gif");
	  margin-left: 100px;
	  margin-right: 100px;
	  font-family: Trebuchet MS;
	  scroll-behavior: smooth;
}
header h1 {
	color:  #d6a965;
	font-size: 50px;
	margin-top: 10px;
	margin: 10px;
	text-shadow: 2px 2px #000000;

}
nav{
	  border-radius: 25px;
  background: #271408;
  padding: 8px;
  
	
}
ul {
  list-style-type: none;
  
}
li {
  display: inline;
  
}
a {
	font-size: 25px;
  display: inline;
  padding: 40px;
   color: white;
    text-decoration: none;
  
}
a:hover {
  color: #d6a965;
}
.intro h1{
	position: absolute;
	top: 210px; left: 160px;
	font-size: 45px;
	color: #ffffff;
}

.intro img{
	 padding-top: 20px;
	 height: 500px
	 
}
.intro p{
	text-align: start;
	 max-width: 600px;
	 font-size: 25px;
	 color:  #d6a965;
	 position: absolute;
	top: 300px; left: 160px;
}

#content{
	 border-radius: 25px;
  background: #ffffff;
  padding: 620px;
  margin-top: 20px;
}
table{
	position: absolute;
	top: 740px; left: 140px;
}
 th{
	 border: 5px solid #FFFFFF;
 }


#content table tr th {
	background: #d6a965;
	 border-radius: 25px;
	 padding: 170px;
	 padding-top: 400px;
	 
}
#content table tr th img{
	position: absolute;
	top: 50px; left: 54px;
	border:10px solid white;
	height: 200px
}

#content table tr th:nth-child(2) img{
	position: absolute;
	top: 50px; left: 404px;
	border:10px solid white;
	height: 200px
}
#content table tr th:nth-child(3) img{
	position: absolute;
	top: 50px; left: 755px;
	border:10px solid white;
	height: 200px
}
#content table tr th:nth-child(4) img{
	position: absolute;
	top: 50px; left: 1110px;
	border:10px solid white;
	height: 200px
}


#content table tr:nth-child(2) th img{
	position: absolute;
	top: 635px; left: 54px;
	border:10px solid white;
	height: 200px
}

#content table tr:nth-child(2) th:nth-child(2) img{
	position: absolute;
	top: 635px; left: 404px;
	border:10px solid white;
	height: 200px
}
#content table tr:nth-child(2) th:nth-child(3) img{
	position: absolute;
	top: 635px; left: 755px;
	border:10px solid white;
	height: 200px
}
.smallp1  h1 {
	color:  #ffffff;
	font-size: 40px;
	text-decoration: underline;
	position: absolute;
	top: 250px; left: 54px;
}
.smallp2  h1 {
	color:  #ffffff;
	font-size: 40px;
	text-decoration: underline;
	position: absolute;
	top: 250px; left: 390px;
}
.smallp3  h1 {
	color:  #ffffff;
	font-size: 40px;
	text-decoration: underline;
	position: absolute;
	top: 250px; left: 755px;
}
.smallp4  h1 {
	color:  #ffffff;
	font-size: 40px;
	text-decoration: underline;
	position: absolute;
	top: 250px; left: 1050px;
}